@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap');
body {
  margin: 0 auto;
  width: 80%;
  padding-top: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
   --ActiveText : #5ECE7B,
    --PrimaryColor : #1D1F22,
    --IconColor : #43464E,
    --OutProductTextColor : #8D8F9A,
    --WhiteColor : #FFFFFF ,
    --SelectedItemBackGround : #EEEEEE ,
}
